@charset "utf-8";
/* CSS Document */
.container
{
	width: 100%;
	margin:auto
}
@media(min-width:600px)
{
	.container{width: 90%;}
}
@media(min-width:600px)
{
	.container{width: 80%;}
}
[class*="col-"]
{
	padding: 15px;
	
}

